version: "3.5"

services:
  webserver:
    image: vjcspy/ebs-docker-php-nginx:7.3
    container_name: "eticket-web"
    domainname: "eticket-web"
    hostname: "eticket-web"
    ports:
      - "80:80"
      - "443:443"
    networks:
      - ebs-docker-network
    volumes:
      - ./src/gticket:/app/e-ticket
      - ./config/nginx/vhost.conf:/opt/docker/etc/nginx/vhost.conf
    env_file: .env
    environment:
      PHP_IDE_CONFIG: "serverName=eticket" #debug cli
      XDEBUG_REMOTE_AUTOSTART: "1"
      XDEBUG_REMOTE_HOST: "host.docker.internal" #linux
  mysql:
    image: mysql:5.7
    container_name: "eticket-db"
    domainname: "eticket-db"
    hostname: "eticket-db"
    ports:
      - "3306:3306"
    networks:
      - ebs-docker-network
    volumes:
      - mysql-data-eticket:/var/lib/mysql
      - ./docker_data/logs/mysql:/var/log/mysql:delegated
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    env_file: .env
  # es:
  #   image: docker.elastic.co/elasticsearch/elasticsearch:7.8.1
  #   container_name: "${STACK_NAME}-es"
  #   domainname: "${STACK_NAME}-es"
  #   hostname: "${STACK_NAME}-es"
  #   environment:
  #     - discovery.type=single-node
  #   ulimits:
  #     memlock:
  #       soft: -1
  #       hard: -1
  #   volumes:
  #     - elasticsearch-data:/usr/share/elasticsearch/data
  #   ports:
  #     - 9200:9200
  #     - 9300:9300
  #   networks:
  #     - ebs-docker-network
  #   env_file: .env
  #  rabbit:
  #    networks:
  #      - ebs-docker-network
  #    hostname: "${STACK_NAME}-rb"
  #    container_name: "${STACK_NAME}-rb"
  #    domainname: "${STACK_NAME}-rb"
  #    image: "rabbitmq:3-management"
  #    ports:
  #      - "15672:15672"
  #      - "5672:5672"
  #    environment:
  #      RABBITMQ_ERLANG_COOKIE: "SWQOKODSQALRPCLNMEQG"
  #      RABBITMQ_DEFAULT_USER: "rabbitmq"
  #      RABBITMQ_DEFAULT_PASS: "rabbitmq"
  #      RABBITMQ_DEFAULT_VHOST: "/"
#    redis:
#        container_name: "${STACK_NAME}-rds"
#        domainname: "${STACK_NAME}-rds"
#        hostname: "${STACK_NAME}-rds"
#        image: redis:latest
#        # command: redis-server --appendonly yes --requirepass root
#        command: ["redis-server", "--appendonly", "yes"]
#        ports:
#            - "6379:6379"
#        networks:
#            - ebs-docker-network
#        env_file: .env
networks:
  ebs-docker-network:

volumes:
  mysql-data-eticket:
    driver: local
